// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #88f;
$header-background-color: rgba(0, 0, 0, .3);

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------

.widget-netatmo {
  background-color: $background-color;

  .block {
    padding: 5px 1px;
  }

  h3 {
    background: $header-background-color;
  }

  .reading {
    .number {
      font-size: 250%;
      font-weight: bold;

    }

    i {
      font-size:150%;
      vertical-align: 25%;
      color: rgba(255,255,255, .5);
    }
  }

  .minmax {
    border-collapse: separate;
    border-spacing: 0;
    font-size: 100%;
    text-align: left;
    width: 100%;

    td {
      padding: 0;
      text-align: center;
      width: 50%;
    }

    .number {
      font-size: 120%;
    }

    .time {
      font-weight: normal;
    }
  }

}
